.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 16px;

  @include vp-768 {
    padding-inline: 28px;
  }

  @include vp-1024 {
    padding-inline: 36px;
  }

  &--no-p {
    padding: 0;
  }

  &--big {
    padding: 0 220px;

    @include vp-1024 {
      padding: 0 140px;
    }

    @include vp-767 {
      padding: 0 40px;
    }
  }
}
