---
import { Icon } from 'astro-icon/components';

interface Props {
  className?: string;
  mods?: string[];
  name: string;
  fixedHeight?: boolean;
}

const { mods, className, name, fixedHeight } = Astro.props;
---

<div
  class:list={[
    'modal',
    'modal--preload',
    mods?.map((el) => `modal--${el}`),
    className,
    fixedHeight ? 'modal--fixed-height' : ''
  ]}
  data-modal={name}
>
  <div class="modal__wrapper">
    <div class="modal__overlay" data-close-modal></div>
    <div class="modal__content">
      <button
        class="modal__close-btn"
        type="button"
        aria-label="Закрыть попап"
        data-close-modal
      >
        <Icon name="icon-close" />
      </button>
      <slot />
    </div>
  </div>
</div>
