---
import Layout from '@layouts/root/root';
import Header from '@components/Header/Header';
import Footer from '@components/Footer/Footer';

interface Props {
  title: string;
  description: string;
  className?: string;
}

const { title, description, className } = Astro.props;
---

<Layout title={title} description={description}>
  <Header />
  <main class={className}>
    <slot />
  </main>
  <Footer />
  <slot name="modals" />
</Layout>
