---
import Layout from '@layouts/root/root';

interface Props {
  title: string;
  description: string;
  className?: string;
}

const { title, description, className } = Astro.props;
---

<Layout title={title} description={description}>
  <main class={className}>
    <slot />
  </main>
</Layout>
