---
import Modal from '@components/Modal/Modal';
import './ModalPolicy.scss';

interface Props {}

const {} = Astro.props;
---

<Modal name="policy" fixedHeight>
  <h3>policy modal</h3>
  <p>с прокруткой</p>
  <div class="modal__scroll-content" data-scroll-lock-scrollable>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      expedita tenetur asperiores quae perspiciatis aliquam animi aut,
      reiciendis sequi repellat unde illum, consectetur aperiam quis fugit
      cumque et voluptatibus doloribus non nemo suscipit! Reiciendis magnam
      dolor unde asperiores omnis cupiditate, modi perspiciatis, voluptate
      itaque praesentium a repellat! Ipsam odit incidunt adipisci nam voluptatum
      provident minima exercitationem nobis. Fugiat quos eveniet debitis velit
      voluptatum, quas pariatur officia iure, officiis harum exercitationem vel
      saepe reiciendis alias eos unde ea totam natus. Veniam sapiente amet neque
      odio quidem id porro possimus delectus hic vitae blanditiis quos ad
      fugiat, nobis, obcaecati dolorem aperiam? Tempore mollitia rerum harum
      labore praesentium odio, ipsum quo laudantium eius a, voluptatem optio,
      aperiam voluptates vitae quas rem iure pariatur reiciendis magni?
      Reprehenderit cumque vitae dolore, dignissimos, quaerat, nam consectetur
      ipsum debitis labore sed nihil porro earum totam. Facere commodi
      repellendus eum soluta sunt ab similique nesciunt neque magni? Repellendus
      veritatis obcaecati aperiam inventore illum praesentium error nulla ipsa
      qui excepturi cumque ex consectetur id magnam, vero nam repudiandae
      suscipit alias beatae? Enim aut magnam molestias nostrum, veritatis natus
      odit eos consequuntur magni soluta nesciunt perferendis recusandae saepe
      incidunt ipsam nam, architecto adipisci quasi dolorum quisquam laudantium
      nobis provident. At earum ut modi voluptate dolorem eius mollitia
      doloremque optio! Aut accusantium, reprehenderit optio nulla dolor maxime,
      omnis voluptatem vel
      <a href="http://">GOOGGGLELEEE</a>animi ad voluptate reiciendis delectus
      temporibus maiores doloribus culpa ex, ratione fugit nemo blanditiis!
      Laboriosam doloribus voluptatem expedita minima neque laudantium quas
      maiores. Ipsa nostrum ducimus id excepturi perferendis. Quisquam culpa
      dicta reiciendis adipisci sunt similique eius fugit vero facilis sit
      inventore voluptatum quis, odio provident illo, magni, harum ea assumenda
      a quos? Natus corrupti repellat dignissimos perferendis labore alias,
      repellendus ratione omnis nesciunt architecto rerum suscipit quam sint
      iste modi vitae a sed dicta ipsa officia quibusdam. Ratione tempore,
      doloremque nihil officia dicta rem voluptatibus distinctio eveniet,
      explicabo deserunt, quidem non. Eaque illum corrupti amet incidunt
      necessitatibus dolorem magnam. Minima beatae optio explicabo voluptate
      perferendis magnam, ea libero unde molestias eveniet aperiam sapiente! Id
      quibusdam facilis repellat odio at eligendi nisi ducimus. Velit
      consectetur doloribus quia vel voluptates animi enim nemo vitae
      necessitatibus dignissimos? Dolorem esse, maiores enim repudiandae,
      commodi quisquam, in rem maxime corporis iusto rerum autem atque. Officiis
      accusamus ipsam quia suscipit ad consequuntur. Accusantium nemo
      voluptatibus cumque ea omnis porro eum perferendis fugit modi. Soluta
      voluptate tenetur suscipit consectetur voluptatum ea, harum velit culpa
      eaque assumenda laborum ipsam quisquam dolore quaerat totam corporis.
      Animi voluptatibus sed veniam optio autem molestias asperiores commodi,
      corrupti in, voluptas debitis quas cumque nihil blanditiis neque!
      Necessitatibus nostrum non, voluptas neque minima corporis sit eum aperiam
      a, placeat aliquam reprehenderit? Veritatis esse nesciunt deserunt
      ducimus, facilis reprehenderit? Tenetur aspernatur error quo fugiat quidem
      delectus sunt fuga quae inventore odit, qui voluptate adipisci molestiae
      quibusdam consequatur aperiam, pariatur omnis earum dolore voluptatum?
      Error quae voluptate sunt nemo dolores laborum pariatur consequatur culpa
      provident soluta repudiandae, quibusdam minima maxime quas repellat
      voluptas eaque exercitationem assumenda ad, natus molestiae, veniam ipsum.
      Nemo deleniti mollitia quaerat error assumenda eum temporibus ea,
      laudantium ad explicabo, soluta, ducimus dolorum dicta. Officiis quibusdam
      molestiae nesciunt nemo sed, quo repellat enim odio modi. Dolor corrupti
      ipsam pariatur unde deleniti libero accusantium magnam earum odit quaerat
      provident perspiciatis soluta ad, sequi dolorem esse asperiores error
      officiis laudantium. Sapiente quos ad accusamus odit dignissimos facere
      nisi beatae nesciunt modi, sed quasi quidem quibusdam alias perferendis
      eos voluptatem at ex architecto ratione officiis quas eveniet deleniti.
      Similique, excepturi! Officia delectus enim eaque iure consequatur,
      deserunt illo earum dolorum assumenda fugit optio dignissimos qui laborum
      voluptatem adipisci, sequi eos temporibus repudiandae omnis veniam
      nesciunt error, architecto reiciendis quaerat? Vero saepe necessitatibus
      perspiciatis? Facilis eaque pariatur voluptas laudantium, quas assumenda
      quam, hic perspiciatis rerum nobis optio iusto expedita aspernatur
      quisquam id consequatur, aliquid molestias eveniet officia obcaecati at et
      nisi. Non labore dolores aperiam esse dolorem quos nobis facere? Ad quod
      asperiores illum odio molestias consequuntur incidunt quidem deserunt
      facilis accusantium? Minus, tempore facere aliquid similique nemo totam
      repudiandae blanditiis temporibus, qui architecto odio omnis. Esse
      consequatur nostrum expedita officia ad quia accusantium neque excepturi
      autem vel. Earum, sapiente eius. Officiis omnis, numquam, nihil blanditiis
      sunt at sit maiores recusandae eligendi ratione voluptas repudiandae
      perferendis nobis architecto, optio quae laudantium. Numquam tempora
      laboriosam magni hic sunt? Quasi a cumque laudantium voluptates in quos
      aperiam. Suscipit aliquam ad aliquid voluptatum dolorum perspiciatis,
      ipsam at laudantium laboriosam quidem, facilis culpa earum? Maxime atque
      possimus reiciendis commodi, id exercitationem dolorum autem fugit nam
      odit consectetur perferendis eligendi excepturi inventore voluptates quos
      sapiente deleniti officia facilis adipisci error, omnis laudantium
      expedita quidem! Nostrum neque, culpa recusandae reiciendis ut, laborum
      voluptate nisi laudantium tempore cumque delectus alias provident
      necessitatibus. Nam iure animi id necessitatibus aliquam rem magnam harum
      vero nobis esse iusto reiciendis ullam reprehenderit doloremque, iste in
      omnis vel cumque amet. Earum esse excepturi ipsa commodi? Non sit libero
      optio, ratione autem, vero velit eligendi esse dicta, nemo possimus?
      Sequi, magni unde natus modi nisi officia reprehenderit doloremque magnam
      fuga at beatae accusantium odio possimus sed sint a! Fugit, architecto.
      Numquam ducimus optio tenetur ab molestiae, possimus voluptatum
      repudiandae perferendis, consequatur, ea adipisci sequi saepe illo
      provident minus. Nisi explicabo iure earum non, expedita deleniti magnam
      quam aperiam! Exercitationem nulla adipisci suscipit neque labore magni
      quam dolore aut harum culpa, quaerat eos nemo eligendi animi laborum
      quidem est veritatis voluptatibus molestiae numquam expedita a? Vel itaque
      sit sapiente distinctio veritatis omnis eligendi laboriosam recusandae
      corporis soluta necessitatibus officiis voluptatum eveniet harum accusamus
      iure, odio voluptates! Eius, corrupti placeat! Dolor, reiciendis quia
      temporibus laudantium dolorum voluptatum illum accusamus tenetur expedita
      est, mollitia corrupti ad nobis excepturi in eveniet harum, ratione iste
      sapiente! Nisi expedita rem temporibus consequuntur nesciunt deleniti,
      reprehenderit in ab ipsa! Neque voluptatem ipsa facere voluptates eveniet
      ab non quasi corrupti. Ut aliquam corporis similique? Neque ipsam ipsum
      minus blanditiis. Adipisci dolores modi, rerum, alias similique nam ex
      neque illo provident incidunt atque. Obcaecati perferendis facere,
      quisquam maxime sequi aspernatur cum minima reiciendis ullam, pariatur
      atque soluta quasi.
    </p>
  </div>
  <button type="button" data-close-modal>закрыть</button>
</Modal>
